
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <div  class = "collapse navbar-collapse" id="thetarget">
  

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#thetarget">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
<div class="collapse navbar-collapse" id="data-target">
    <ul>
        <li><a style="text-decoration:none" href="{{path('app_login')}}">Connexion</a></li>
        <li><a href="{{path('app_register')}}">Inscription</a></li>
    </ul>
</div>
  </div>
  </div>
</nav>